@import 'variables.scss';

.container {
  color: white;
  overflow-y: scroll;
}
.globalInformation{
  position: sticky;
  z-index: 1;
  top: 0;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: $sidebar_color;
  border-style: groove;
  border-color: gray;
}

.submitRow {
  display: flex;
  margin: 10px;
}
.cbutton{
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.newRow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  border-color: $accent_color;
  margin: 10px;
  padding: 20px;

  .icon {
    margin-left: 10px;
    margin-right: 10px;
    color: $accent_color;
    font-size: 3rem;
  }
}

.cardNewPost {
  background-color: $sidebar_color;
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 10px;

  .cardHeader {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;

    .headerDisc {
      opacity: 0.75;
    }
  }

  .cardBody {
    background-color: $background_color;
    border-radius: 15px;
    padding: 7.5px;
    margin-left: 5px;
    margin-right: 5px;

    .textInput {
      padding-top: 5px;
      resize: vertical;
      overflow: auto;
      background-color: transparent;
      border-color: transparent;
      outline-width: 0;
      color: white;
    }

    .textInput::-webkit-resizer {
      border-width: 15px;
      border-style: solid;
      border-color: transparent $accent_color $accent_color transparent;
    }

  }

  .icon {
    border-radius: 50%;
    border: 2px solid #868484;
    padding: 5px;
    font-size: 2.3rem;
    margin-left: 5px;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }

    &.red {
      color: #ED2D21;
    }

    &.green {
      color: #6CE94D;
    }

    &.blue {
      color: #8DDCF5;
    }

    &.yellow {
      color: #EFF31B;
    }

    &.orange {
      color: $accent_color;
    }
  }
}

.categoryButton{
  width: 100%;
}