@import 'variables.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.container {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 0px;
  padding: 0px;
}

.header {
  padding: 10px;
}


.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;

  .fileName {
    text-align: center;
    color: white;
  }

}

.fileActive {
  background-color: #ffffff17;
}

.spinnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .spinner {
    width: 10rem;
    height: 10rem;
  }
}

.spinnerContainerModal {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .spinner {
    width: 10rem;
    height: 10rem;
  }
}

.customInput {
  background-color: #333333;
  color: #ffffcc;
  border: 1px solid #ffffcc;
  padding: 10px;
  font-size: 16px;

  &:focus {
    outline: none;
    border-color: #ffcc00;
    box-shadow: 0 0 5px #ffcc00;
    background-color: #333333;
    color: white;
  }
}

.filesPanel {
  position: relative;
  background-color: $sidebar_color;
  margin-left: 30px;
  margin-right: 30px;
  height: 100%;
  padding: 15px;
  border-radius: 30px;
}

.flotingPanel {
  position: absolute;
  background-color: $background_color;
  padding: 7.5px;
  padding-right: 0px;
  border-radius: 15px;
  margin-right: 15px;
  margin-left: 15px;


  &.right {
    right: 0px;
  }

  &.left {
    left: 0px;
  }


}

.collapsButton {
  position: relative;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  text-align: end;

  &.open {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.filePriviewPanel {
  background-color: $sidebar_color;
  margin-left: 15px;
  margin-right: 30px;
  border-radius: 30px;
  padding: 15px;
}



.flotingPanelContent {
  margin-top: 8px;
  margin-right: 15px;
  white-space: nowrap;
  padding: 0;

}

.opetionContainer {
  display: flex;
}

.headerContainer {
  border-radius: 30px;
  background-color: $sidebar_color;
  border-radius: 30px;
  margin: 10px;
  padding: 15px;
  align-items: center;
}

.fileContainer {
  flex-grow: 1;
  background-color: $sidebar_color;
  border-radius: 30px;
  margin: 10px;
  padding: 15px;
  overflow-y: scroll;
}

.files {
  position: relative;

  .folder {
    color: #EFF31B;
  }

  .image {
    color: #0CEE81;
  }

  .video {
    color: #1B99F3;
  }

  .file {
    color: white;
  }
}

.icons {
  border-radius: 50%;
  border: 2px solid #868484;
  padding: 5px;
  font-size: 2.3rem;
  margin-left: 5px;

  &.red {
    color: #ED2D21;
  }

  &.green {
    color: #6CE94D;
  }

  &.blue {
    color: #8DDCF5;
  }

  &.yellow {
    color: #EFF31B;
  }

  &.orange {
    color: $accent_color;
  }
}

.searchBar {
  width: 100%;
  padding: 5px;
  background-color: $background_color;
  border-radius: 30px;
  padding-left: 15px;
  display: flex;
  align-items: center;

  .searchBarIcon {
    margin-right: 10px;
  }

  .searchInput {
    background-color: $background_color;
    border-color: transparent;
    flex-grow: 1;
    outline-width: 0;
    color: white;

  }
}

.inputBar {
  background-color: $background_color;
  border-radius: 30px;
  display: flex;
  align-items: center;


  .progressBar {
    width: 10rem;
    margin-left: 5px;
    margin-right: 7px;
    transition: max-width 2s;
    background-color: $background_color;
    border-color: transparent;
    flex-grow: 1;
    outline-width: 0;

    margin-right: 0px;
    max-width: 0px;
    opacity: 0;

  }

  .input {
    transition: max-width 2s;
    background-color: $background_color;
    border-color: transparent;
    flex-grow: 1;
    outline-width: 0;
    color: white;

    margin-right: 0px;
    max-width: 0px;
    opacity: 0;

  }

  .open {
    margin-right: 10px;
    max-width: 500px;
    opacity: 1;
  }
}