@import 'variables.scss';


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);



.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  display: flex;
  flex-grow: 1;
}

.header {
  color: white;
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.headerContainer {
  display: flex;
  align-items: center;
  background-color: $sidebar_color;
  border-radius: 15px;
  padding: 7.5px;

}

.headerProfile {
  display: flex;
  margin-left: 20px;
  align-items: center;
  background-color: $sidebar_color;

  @media (min-width: map-get($grid-breakpoints , lg)) {
    background-color: transparent;
  }

  border-radius: 12px;
  text-wrap: nowrap;
  padding: 10px;

}

.menuButton {
  padding: 5px;
  font-size: 2.3rem;
  display: flex;


  @media (min-width: map-get($grid-breakpoints , lg)) {
    display: none;
  }
}

.clollapsButton {

  padding: 5px;
  font-size: 2.3rem;
  display: none;

  @media (max-width: map-get($grid-breakpoints , sm)) {
    display: flex;
  }
}

.collapsAnimation {
  z-index: 1;

  @media (max-width: map-get($grid-breakpoints , lg)) {
    transform: translate(-90%, 10%);
    position: absolute;
    overflow: hidden;
    max-width: 0;
    max-height: 0;
    transition: max-width 0.5s ease-out, max-height 0.5s ease-out;

    &.open {
      max-width: 100%;
      max-height: 100%;
      opacity: 100;
      transition: max-width 0.5s ease-in, max-height 0.5s ease-in, opacity 0.5s ease-in;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 5px;
  flex-grow: 1;
}

.icons {
  border-radius: 50%;
  border: 2px solid #868484;
  padding: 5px;
  font-size: 2.3rem;
}

.bellContainer {
  margin-left: 5px;
  position: relative;
}

.bellNumber {
  position: absolute;
  right: 0px;
  top: 50%;
  border-radius: 50%;
  background-color: red;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage {
  margin-right: 10px;
  margin-left: 10px;
}



.collapsButton {
  margin-left: 10px;
  font-size: 1.5rem;
}

.ProfileTexts {
  text-align: center;
}