@import 'variables.scss';

.container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.link {
  background-color: transparent !important;
  border-color: $sidebar_color !important;
  color: white !important;
  border-width: 2px !important;


  &.active{
    border-color: $sidebar_color !important;
    background-color: $accent_color !important;
  }
}

