@import 'variables.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.container {
  color: white;
  height: 100%;
  flex-grow: 1;
}

.row {
  height: 100%;
  padding-bottom: 5px;
}

.permissionList {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;

  @media (max-width: map-get($grid-breakpoints , lg)) {
    height: 50%;
    margin: 0px;
    margin-bottom: 5px;
    margin-right: 10px;
  }

  border-radius: 20px;
  padding: 20px;
  background-color: $sidebar_color;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: hidden;
}

.permissionContainer {
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: $background_color;
}

.permissionName {
  font-weight: 600;
  margin-bottom: 10px;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ListDisc {
  margin-bottom: 15px;
}

.permissionButtonList {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.customButton {
  padding: 10px;
  border-radius: 50%;
  background-color: $sidebar_color;
  border-color: transparent;

  &.active {
    background-color: $accent_color;
  }
}

.roleButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $background_color;
  margin-bottom: 10px;
  border-radius: 6px;
}

.roleDeleteButton {
  color: red;
  font-size: 3.5rem;
  margin-left: 5px;
  border-left-style: solid;
  border-color: white;
  padding: 10px;
}

.roleButton {
  background-color: $background_color;
  padding: 10px;
  width: 100%;
  color: white;
  border-radius: 6px;
  border: none;
  &.active {
    background-color: $accent_color ;
  }

  &.deleteItem {
    background-color: rgb(112, 46, 46);
  }

  &.replaceItem {
    // background-color: green;
    border-style: dashed;
    border-color: green;
  }
}

.cancelDeleteMode {
  color: $accent_color ;
  font-size: 2rem;
  margin-left: 5px;
}

.addRoleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
  color: $accent_color;
  border: dashed;
  border-color: $accent_color;

  &.tempMode {
    border: solid;
    border-color: green;
  }
}

.addRoleInput {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  text-align: center;
}

.swapItemsCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}