@import 'variables.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sidebarwrapper {
  position: relative;


  @media (max-width: map-get($grid-breakpoints , sm)) {
    // display: none;
  }
}

.sidebar {
  background-color: $sidebar_color;
  width: 17rem;
  height: 100%;
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;


}

.sidebarwrapper[data-collapse=false] {

  @media (max-width: map-get($grid-breakpoints , sm)) {
    width: 0;
  }

  .sidebar {
    width: 5.3rem;

    @media (max-width: map-get($grid-breakpoints , sm)) {
      width: 0;
      opacity: 0;
    }
  }

  .btn {
    @media (max-width: map-get($grid-breakpoints , sm)) {
      display: none;
    }
  }

  .sidebarlogoname {
    display: none;
  }

  .sidebarname {
    display: none;
  }

  .sidebarcollapsicon {
    display: none;
  }

}

.sidebartop {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  border-bottom: 1px solid white;
}

.sidebarlogo {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 1rem;
}

.sidebarlogoname {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;

  opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


.btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: white;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}


.sidebarlist {
  list-style: none;
}

.sidebarlink {
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  color: #8C8C7F;
  padding: 0.8rem 1rem;
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  border-top-left-radius: 5px;

  &.open {
    background: linear-gradient(to right, #fd7e5031, rgba(0, 0, 0, 0));
    border-left: 5px solid $accent_color;
  }

}

.siderbarLinkActive {
  border-left: 5px solid #D1C026;
}

.sidebaricon {
  display: flex;
  font-size: 2rem;
}

.sidebarname {
  margin-left: 0.5rem;

  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.sidebarcollapsicon {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.sidebarNameIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.accordion-header {
  max-height: 0;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  opacity: 0;

  transition: background-color 0.3s;

  &.active {
    background-color: #d62f2f;
  }

}

.accordioncontent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;

  &.open {
    max-height: 500px;
  }
}


.listgroupitem {
  background-color: transparent;
  border: none;
  color: white;
}